/*---------Index||Header-------------------*/

html {
    font-family: arial, Helvetica, Sans-serif;
    color: #6a6969;
}

#header {
    background-color: #fffabe;
    padding: 10px;
    margin: -7px auto 0px auto;
    height: 52px;
    width: 980px;
}

#head_logo {
    margin: 10px 10px 0px 20px;
    display: inline-block;
}

#nav {
    display: inline-block;
    position: relative;
    left: 5%;
    top: -20%;
    /*float: right;
    margin: 0px 0px 0px 0px;
    padding: 15px 20px 0px 0px;*/
}

.nav {
    text-decoration: none;
    list-style: none;
    color: #515151;
    font-family: Arial, Helvetica, Sans-serif;
    font-size: 16px;
    text-transform: uppercase;
    display: inline-block;
    padding: 1px 25px 5px 5px;
}

.nav:hover {
    color: #d42551;
}
/*----------Index||Header-------------------*/
/*---------Index||Body_Paragraphs_IMG's--------------*/

#center-all {
    width: 1000px;
    margin: 15px auto 0px auto;
}

#main_info {
    display: inline-block;
    position: relative;
    right: -245px;
    top: -215px;
    height: 350px;
}

#macarons_img {
    display: inline-block;
    position: relative;
    top: 120px;
}

.p {
    display: inline-block;
    width: 65%;
    line-height: 1.5em;
    margin-left: 10px;
    text-align: left;
    font-family: Arial, Helvetica, Sans-serif;
    color: #6a6969;
}

.p.header {
    font-size: 20px;
}

.p.info {
    font-size: 14px;
}

#flavor_header {
    font-family: Arial, Helvetica, Sans-serif
}
/*---------Index||Paragraphs--------------*/
/*--------Index||cookie_display-----------*/

#cookie_disp {
    margin: 10px auto 0px auto;
}

.cookie-box {
    display: inline-block;
    height: 140px;
    width: 120px;
    margin: 5px 5px 0px 5px;
    padding: 0px 3px 0px 3px;
    background-color: #fffabe;
    text-align: left;
    font-size: 12px;
    color: #6a6969;
    font-family: arial, Helvetica, Sans-serif;
}

.day {
    font-family: arial, Helvetica, Sans-serif;
    font-size: 14px;
    color: #6a6969;
}

.time {
    display: inline-block;
    font-size: 12px;
    color: #6a6969;
    font-family: arial, Helvetica, Sans-serif;
    margin-top: -15px;
}

.flavor {
    background-color: #fffabe;
    padding: 5px 5px 17px 5px;
    margin: 0px 0px 5px 0px;
}

.flavor.coconut {
    color: white;
    background-color: #824603;
    padding: 5px 5px 14px 5px;
    margin: 0px -3px 5px -3px;
}

.flavor.vanilla {
    background-color: #df5277;
    color: white;
    padding: 5px 5px 14px 5px;
    margin: 0px -3px 5px -3px;
}

.flavor.lemon {
    background-color: #a2304e;
    color: white;
    padding: 5px 5px 14px 5px;
    margin: 0px -3px 5px -3px;
}

.flavor.almond {
    background-color: #c39005;
    color: white;
    padding: 5px 5px 14px 5px;
    margin: 0px -3px 5px -3px;
}

.cookie_imgs {
    float: right;
}
/*------Index||cookie_display--*/
/*------Index||Footer------*/

#footer {
    background-color: #df5277;
    color: white;
    width: 1000px;
    height: 80px;
    padding: 5px 10px 20px 10px;
    margin: 95px auto 0px auto;
}

#phone {
    text-decoration-color: white;
    display: inline-block;
    text-align: center;
    margin: 7px -5px 15px 30px;
}

#email {
    text-decoration-color: white;
    float: left;
    margin: 5px 65px 15px 75px;
}

#follow {
    margin: 5px 75px 10px 25px;
    float: right;
}

#copyright {
    margin: 10px 0px 25px 10px;
    font-size: 11px;
    font-family: arial, Helvetica, Sans-serif;
}

.email_link {
    text-decoration: none;
    color: white;
    padding-left: 15px;
}

.phone_link {
    text-decoration: none;
    color: white;
    padding-left: 15px;
}

.social-media {
    display: inline-block;
    padding: 20px;
    margin-right: 35px;
    margin-top: -20px;
}

.social-imgs {
    margin: -15px 0px 0px 10px;
    padding-left: 15px;
}
/*------Index||END------*/
/*------Our-Macarons||CSS------*/

#main_img2 {
    width: 1000px;
    height: 400px;
    margin: 0px 4% 0px 12%;
}

#main_info2 {
    width: 1000px;
    margin: 0px 4% 0px 12%;
}

.p_header2 {
    font-size: 20px;
    text-align: left;
}

.p_header2.top {
    margin-top: 90px;
}

.p_header2.classic {
    margin-bottom: -100px;
}

.p_info2 {
    font-size: 14px;
    text-align: left;
    line-height: 1.5em;
    padding: 20px 15px 35px 5px;
}

#classics {
    font-size: 14px;
    display: inline-block;
    margin-top: -50px;
}

#macarons_background_img {
    display: inline-block;
    height: 400px;
    width: 600px;
    margin: 25px 0px -70px 0px;
}
/*------our_macarons_Done------*/
/*-------gifts&parties---------*/

#main_info3 {
    margin: 0px auto;
    width: 1000px;
    background-image: url(assets/images/gifts-parties-background.png);
    background-repeat: no-repeat;
    background-position: 25% 85%;
}

#main_img3 {
    margin: 0px 11% 0px 12%;
}

.p_head3 {
    margin-top: 70px;
    margin-bottom: 50px;
    font-size: 20px;
}

.p_info3 {
    font-size: 14px;
    line-height: 1.4em;
}

.p_info3.bottom {
    margin-right: 500px;
}
/*------Finish gifts&parties-----*/
/*-------Start Contact page----*/

#map_img {
    height: 400px;
    width: 1000px;
    margin: 0px 11% 0px 12%;
}

#center-all4 {
    margin-left: 10%;
    margin-right: 10%;
}

.p_head4 {
    font-size: 20px;
}

.p_head4.main {
    margin: 50px 0px 10px 1px;
    padding-bottom: 30px;
}

.p_info4 {
    line-height: 1.5em;
    font-size: 14px;
    margin-top: -15px;
}

.p_info4.line_height {
    margin-top: 25px;
}

.p_info4.phone {
    margin-bottom: 10px;
}

#order {
    margin-bottom: 10px;
    color: #df5277;
}

.p_info4.line_hieght.word_space {
    margin-top: 5px;
}

.main_info4.left {
    display: inline-block;
    width: 300px;
    padding: 10px 10px 30px 10px;
    margin: 0px 25px 50px 50px;
}

.main_info4.right {
    margin: 0px 0px 0px 55px;
    padding: 10px;
    display: inline-block;
}

.form {
    font-size: 14px;
    display: block;
}

.form.message {
    font-size: 14px;
    margin: 20px 0px -80px 0px;
}

.input {
    height: 35px;
    width: 310px;
    margin: 5px 0px 5px -45px;
    opacity: .5;
    border: none;
}

.input.phone {
    height: 35px;
    width: 310px;
    margin: 5px 0px 5px -50px;
    opacity: .5;
    border: none;
}

.subject {
    width: 310px;
    height: 35px;
    margin: 5px 0px 0px -55px;
    padding-bottom: 0px;
    opacity: .5;
    background-color: #f5f5f5;
    border: none;
}

.message {
    width: 310px;
    height: 70px;
    margin: 10px 0px 0px -5px;
    opacity: .5;
    background-color: #f5f5f5;
    border: none;
}

#btn4 {
    height: 35px;
    width: 155px;
    background-color: #f5f5f5;
    position: relative;
    left: 165px;
    top: 15px;
    display: block;
    border: none;
}

.order_img {
    position: relative;
    top: -50px;
    width: 200px;
}
