/*---------Index||Header-------------------*/

#header1 {
    background-color: #fffabe;
    padding: 25px;
    margin: -25px 0px 0 -10px;
    height: 72px;
    width: 1000px;
}

#head_logo {
    margin: 10px 10px 0px 20px;
    display: inline-block;
}

#nav1 {
    display: inline-block;
    margin: 10px 5px 10px 5px;
    float: right;
}

.nav {
    list-style: none;
    color: #515151;
    font-family: Arial, Helvetica, Sans-serif;
    font-size: 16px;
    text-transform: uppercase;
    display: inline-block;
    padding: 10px;
}

.nav:hover {
    color: #d42551;
}
/*----------Index||Header-------------------*/
/*---------Index||Body_Paragraphs_IMG's--------------*/

#main_img {
    width: 1000px;
    height: 400px;
    margin: 10px;
}

#maininfo {
    display: block;
    width: 1000px;
    margin-right: -45px;
}

#macarons {
    margin: 30px 10px 30px 0px;
    float: left;
}

.p_header {
    font-family: Arial, Helvetica, Sans-serif;
    color: #6a6969;
    font-size: 20px;
}

.p_info {
    font-family: Arial, Helvetica, Sans-serif;
    color: #6a6969;
    font-size: 14px;
}

.p_info,
.p_header {
    display: inline-block;
    width: 790px;
    margin-left: 10px;
    text-align: left;
}

#last_p {
    margin-left: 205px;
}

#flavor_header {
    margin-left: 204px;
    font-family: Arial, Helvetica, Sans-serif
}
/*---------Index||Paragraphs--------------*/
/*--------Index||cookie_display-----------*/

.cookie-box {
    display: inline-block;
    height: 140px;
    width: 120px;
    margin: 0px 4px 5px 2px;
    padding: 0px 3px 0px 3px;
    background-color: #fffabe;
    text-align: left;
    font-size: 12px;
    color: #6a6969;
    font-family: arial, Helvetica, Sans-serif;
}

.day {
    font-family: arial, Helvetica, Sans-serif;
    font-size: 14px;
    color: #6a6969;
}

.time {
    display: inline-block;
    font-size: 12px;
    color: #6a6969;
    font-family: arial, Helvetica, Sans-serif;
    margin-top: -15px;
}

.flavor {
    background-color: #fffabe;
    padding: 5px 5px 17px 5px;
    margin: 0px 0px 5px 0px;
}

.flavor.coconut {
    color: white;
    background-color: #824603;
    padding: 5px 5px 14px 5px;
    margin: 0px -3px 5px -3px;
}

.flavor.vanilla {
    background-color: #df5277;
    color: white;
    padding: 5px 5px 14px 5px;
    margin: 0px -3px 5px -3px;
}

.flavor.lemon {
    background-color: #a2304e;
    color: white;
    padding: 5px 5px 14px 5px;
    margin: 0px -3px 5px -3px;
}

.flavor.almond {
    background-color: #c39005;
    color: white;
    padding: 5px 5px 14px 5px;
    margin: 0px -3px 5px -3px;
}

.cookie_imgs {
    float: right;
}
/*------Index||cookie_display--*/
/*------Index||Footer------*/

#footer1 {
    background-color: #df5277;
    color: white;
    width: 1000px;
    height: 80px;
    padding: 5px 10px 15px 10px;
    margin: 50px 0px -5px -10px;
}

#phone {
    text-decoration-color: white;
    display: inline-block;
    text-align: center;
    margin: 7px 45px 15px 30px;
}

#email {
    text-decoration-color: white;
    display: inline-block;
    float: left;
    margin: 5px 75px 15px 65px;
}

#follow {
    display: inline-block;
    margin: 5px 85px 10px 25px;
    float: right;
}

#copyright {
    margin: 10px -10px 25px 10px;
}

.email_link {
    text-decoration: none;
    color: white;
}

.phone_link {
    text-decoration: none;
    color: white;
}

.social-media {
    display: inline-block;
    padding: 20px;
    margin-right: 15px;
    margin-top: -20px;
}

.social-imgs {
    margin: -15px 0px 0px 10px;
}
/*------Index||END------*/
